body{
  top: 0 !important;
  bottom: 0 !important;
  height: auto !important;
  background-color: gray;
  #RoomsList{
    position: fixed;
    height: auto;
    width: 200px;
    #list{
      overflow-y: scroll;
      height: 300px;
    }
    #newR{
      height: 100px;
    }
  }
  #center{

    padding-left: 220px;
    padding-top: 5px;
    #send{
      width: auto;
      padding-bottom: 0px;
    }
    #message-container{
      overflow-y: scroll;
      width: auto;
      height: 300px;
      border: 3px solid black;
      #message2{
        border-bottom: dotted 1px lightgray;
      }
      #info{
        border-bottom: dotted 1px lightgray;
        font-weight: bold;
        color: blue;
      }
    }
  }
}
button{
  color: #900;
    border: 1px solid #900;
    font-weight: bold;
}
input {
    width: 100%;
    border: 2px solid white;
    background: rgba(255,255,255,0.5);
}
