//out: style.css
.row {
  margin-top: 50px;
}

#wallUser{
  height: 33px;
}

#form-search-user {
  margin-top: 8px;
}

#button-search-user {
  margin-top: 7px;
}

#error-login {
  margin-top: 20px;
  display: none;
}

#error-register {
  margin-top: 20px;
  display: none;
}

.czat, .friends {
  margin-top: 20px;
}

.czat{
  width: 360px;
}

#loggedUser {
  margin-top: 15px;
  color: white;
}

.invitations {
  margin-top: 5px;
  margin-bottom: 5px;
}

#addFriend {
  margin-left: 5px;
}

.friends {
  width: 250px;
}

#from , #user{
  margin-left: 10px;
  margin-right: 5px;
}

#messageToFriends{
  margin-top: 5px;
  padding: 0;
  padding-left: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#searchData, #from, #user, #invitation, #acceptInvitation, #declineInvitation, #likes, #friend, .getWallButton{
  display: inline-block;
}

.getWall{
  margin-left: 5px;
}

#likes{
  margin-left: 5px;
  font-size: 60%;
}

#friend {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

a.fill-div {
  color: lighten(black, 15%);
  display: inline;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

a.fill-div:hover {
  color: gray;
}

p, span {
  margin:0;
  padding:0;
}

input {
  font:12px arial;
}

a {
  color:#0000FF;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

#wrapper {
  padding-bottom:25px;
  background:#EBF4FB;
  width:330px;
  height: 310px;
  border:1px solid #ACD8F0;
}

#chatbox {
  text-align:left;
  margin-top: 15px;
  margin-left: 14px;
  margin-bottom: 25px;
  padding:10px;
  background:#fff;
  height:200px;
  width:300px;
  border:1px solid #ACD8F0;
  overflow:auto;
}

#usermsg {
  margin-left: 14px;
  width:300px;
  border:1px solid #ACD8F0;
}

#submitmsg {
  margin-top: 7px;
  margin-right: 15px;
}

#button-send-post{
  margin-top: 3px;
  margin-right: 0px;
}

#foundUsers{
  border-radius: 10px;
  background-color: gray;
  color: white;
  margin-left: 3px;
  margin-top: 8px;
}

#addFriend, #getPosts{
  margin-right: 1px;
  margin-bottom: 2px;
}

#posts{
  margin-top: 50px;
}

.author{
  font-size: 50%;
}

#post{
  font-size: 75%;
  margin-left: 14px;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-right: 14px;
  word-break: break-all;
}

#backButton{
  font-size: 50%;
}

#backToMyWall{
  margin-left: 10px;
  margin-bottom: 3px;
  text-align: center;
}

#deletePost, #sharePost{
  margin: 0;
  margin-top: -2.5px;
  margin-left: 2px;
  margin-right: -5px;
}

#follow, #unfollow, #removeFriend{
  margin: 0;
  margin-right: 15px;
  margin-top: 1px;
}

.status, .message{
  display: inline-block;
}

.message{
  margin-left: 4px;
}

#onlineImg, #messageImg{
  width: 18px;
}

#removeFriend{
  border-right-style: solid;
}

#followLabel, #removeFriendLabel{
  font-size: 70%;
  margin-right: 15px;
  margin-top: 2px;
}

#likeButton{
  padding-top: 2px;
  padding-bottom: 6px;
}
